config VIDEO_ARDUCAM_NORD
   bool "Arducam Mega CMOS digital image sensor"
	select SPI
	depends on DT_HAS_ARDUCAM_NORD_ENABLED
	default y
	help
	  Enable driver for Arducam Mega CMOS digital image sensor device.
